$header-gradient-first-color: #ff9839;
$header-gradient-second-color: #ff9839;
/* $header-gradient-second-color: #e5e7dc; */
/* $pink: #ff0052; */
$pink: white;
$light_grey: #f0f0f0;
/* $header-grey:#e5e7dc; */
$box-grey:#f3f6f0;
$logo-color: #ff9839;

$v-focus-color: $logo-color;
$v-selection-color: $logo-color;
$v-font-family: "Lato", sans-serif;

$v-font-size: 14px;

$v-unit-size: 26px;
$v-unit-size--small: 20px;
$v-unit-size--tiny: 18px;

$v-layout-margin-top: 18px;
$v-layout-margin-right: 18px;
$v-layout-margin-bottom: 18px;
$v-layout-margin-left: 18px;
$v-layout-spacing-vertical: 7px;
$v-layout-spacing-horizontal: 6px;

@import "../valo/valo";
@import "../jamgo/export";
@import "../jamgo/file-upload";

@font-face {
	font-family: "Pamapam-Icons";
	font-weight: normal;
	font-style: normal;
	src: url(fonts/pamapam.eot);
	src: url(fonts/pamapam.eot?#iefix) format("embedded-opentype"), url(fonts/pamapam.woff) format("woff"), url(fonts/pamapam.ttf) format("truetype"), url(fonts/pamapam.svg#Pamapam) format("svg");
}

.Pamapam-Icons {
  font-family: 'Pamapam-Icons';
  font-size: 18px;
}

.demoTheme {
    @include valo;


	/* Chrome, Safari, Opera */
	@-webkit-keyframes opened_menu {
	    0%   {width: 50px;}
	    25%  {width: 100px;}
	    50%  {width: 150px;}
	    100% {width: 200px;}
	}

	/* Standard syntax */
	@keyframes opened_menu {
	    0%   {width: 50px;}
	    25%  {width: 100px;}
	    50%  {width: 150px;}
	    100% {width: 200px;}
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes closed_menu {
	    0%   {width: 200px;}
	    25%  {width: 150px;}
	    50%  {width: 100px;}
	    100% {width: 50px;}
	}

	/* Standard syntax */
	@keyframes closed_menu {
	    0%   {width: 200px;}
	    25%  {width: 150px;}
	    50%  {width: 100px;}
	    100% {width: 50px;}
	}

	.login-header-logo {
		padding-left: 50px;
		padding-top: 50px;
	}
	
	.login-header-logo-fesc {
		padding-right: 50px;
		/*padding-top: 50px;*/
	}

	.login-header-title {
		font-size: 40px;
		text-align: center;
	}

	.v-widget.exttokenfield .token {
		color: inherit;
		background-color: inherit;
	}

	.draft-entity .v-panel .v-gridlayout {
		background-image: url("images/draft-back.png");
		background-repeat: repeat;
	}

	.v-button-dashboard-box-title {
		font-size: 18px;
		font-weight: bold;
	}

	/* Ver como hacer para utilizar las variables del valo */
	/*
	.v-layout .search-panel {
		border: 1px solid #d4d4d4;
	}
	*/

	.v-grid-row.background-green > td {
		background-color: #d3fbdf;
	}

	.v-grid-row.background-yellow > td {
		background-color: #fafbd3;
	}

	.v-grid-row.background-orange > td {
		background-color: #ffdebf;
	}

	.v-grid-row.background-red > td {
		background-color: #fbd3d3;
	}

	.v-grid-row.background-blue > td {
		background-color: #d3f0fb;
	}

	.v-grid-row.background-lilac > td {
		background-color: #adadad;
	}

	.v-grid-row.background-white > td {
		background-color: white;
	}

	.v-grid-cell-focused:before {
		display: none !important;
    }

	.v-button.background-yellow {
		background: #fafdd3;
	}

	.v-button.background-green {
		background: #d3fbdf;
	}

	.v-button.background-orange {
		background: #ffdebf;
	}

	.v-button.background-red {
		background: #fbd3d3;
	}

	.v-button.background-lilac {
		background: #adadad;
	}

// 	.v-button.emphasized {
// 		font-style: italic;
// 		font-weight: bold;
// 		border-width: 2px;
// 		border-color: green;
// 	}

 	.jamgo-menu-group-closed:before {
 		content: '\25B8\00a0';
 	}

 	.jamgo-menu-group-opened:before {
 		content: '\25BE\00a0';
 	}

	.v-Notification.emphasized {
		background: #d3fbdf;
	}

	.v-Notification.emphasized .v-Notification-caption {
		color: #474747;
	}

	.v-button-j-maximize-restore {
		border: none;
		box-shadow: none;
		background: none;
	}

	.v-button-j-maximize-restore:after {
		content: none;
	}

	.v-sliderpanel-wrapper.layout-horizontal .v-sliderpanel-tab.tab-beginning {
		left: 0;
	}

	.v-sliderpanel-wrapper.layout-horizontal.mode-bottom .v-sliderpanel-tab {
    	width: 125px;
	}

	.v-sliderpanel-tab {
		font-size: 1em;
		background: #ffb36b;
	}

	.v-sliderpanel-content {
		background: #ffb36b;
	}

	.v-slot-j-notes-slider {
		height: 0px;
	}

	.v-panel-j-notes-history {
		background: none;
		border: none;
		box-shadow: none;
	}

	.v-label-j-note-box-header {
		font-size: 0.8em;
		color: black;
		font-weight: bold;
	}

	.v-panel-j-note-text {
		padding: 2px;
		background: #fffcc4;
		color: black;
		border-radius: 5px;
	}

	.v-label-j-note-text {
		white-space: pre-wrap;
	}

	.j-select-twincol {
		font-size: 10px;
	}

	.j-select-twincol .v-select-twincol-options {
		overflow-x: scroll;
	}

	.j-select-twincol .v-select-twincol-selections {
		overflow-x: scroll;
	}

	.j-level-labels {
		color: #ff9839;
    	height: 28px;
	}

	.j-level-labels-disabled {
		color: #777777;
    	height: 28px;
	}

	.j-answer-value {
		cursor: pointer;
		margin-right: 8px;
		color: #ff9839;
	}

	.j-answer-value-disabled {
		margin-right: 8px;
		color: #474747;
		opacity: 0.5;
	}

}
