<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Helvetica,sans-serif">
    <tr>
        <td align="center">
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td align="center">
                                    <div>
                                        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr><td height="10"></td></tr>
                                            <tr>
                                                <td style="border:1px solid #eeeeee;border-radius:6px">
                                                    <table width="480" border="0" cellspacing="0" cellpadding="0" align="center">
                                                        <tr><td height="25"></td></tr>
                                                        <tr>
                                                            <td>
                                                                <div>
                                                                    <div style="text-align:left">
                                                                        <h2 style="font-size:20px">Hola ${userName},</h2>
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr><td height="10"></td></tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div>
                                        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr><td height="10" colspan="3"></td></tr>
                                            <tr>
                                                <td width="560">
                                                    <table width="560" cellpadding="0" cellspacing="0" align="center">
                                                        <tr><td height="5"></td></tr>
                                                        <tr>
                                                            <td>
                                                                <div>
                                                                    <div style="text-align:left">
                                                                        <p>Us escrivim des de <a href="https://pamapam.cat/ca/" target="_blank">Pam a Pam</a> perquè estem a punt de publicar la vostra iniciativa al mapa de l'ESS i el consum responsable. Abans, però, ens cal la vostra acceptació en termes de privacitat de dades i de recepció dels butlletins (solen ser només 5 o 6 l'any). Així doncs, escolliu la vostra opció i la publicació serà automàtica. </p>
                                                                        <br>
                                                                        <div id="conditions">
                                                                            <table cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td style="background-color: #ff9839; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; padding: 8px;">
                                                                                        <a href="http://pamapam.cat/services/conditionsAcceptance/2/${userId}/${userToken}" target="_blank" style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; width:100%; display:inline-block;">
                                        <span style="color: #ffffff;">
                                          Click
                                        </span>
                                                                                        </a>
                                                                                    </td>
                                                                                    <td style="padding-left: 16px;">
									  <span>
										Accepto i he llegit les <a href="https://pamapam.cat/ca/avis-legal/" target="_blank">Condicions d’ús</a> i la <a href="https://pamapam.cat/ca/politica-de-privacitat/" target="_blank">Política de privacitat</a> i accepto rebre notícies tal i com s’exposa <a href="https://pamapam.cat/ca/politica-de-privacitat/" target="_blank">aquí</a>.
									  </span>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                        <br>
                                                                        <div id="conditions-newsletters">
                                                                            <table cellspacing="0" cellpadding="0">
                                                                                 <tr>
                                                                                    <td style="background-color: #ff9839; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; padding: 8px;">
                                                                                        <a href="http://pamapam.cat/services/conditionsAcceptance/1/${userId}/${userToken}" target="_blank" style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; width:100%; display:inline-block;">
                                        <span style="color: #ffffff;">
                                          Click
                                        </span>
                                                                                        </a>
                                                                                    </td>
                                                                                    <td style="padding-left: 16px;">
									  <span>
										Accepto i he llegit les <a href="https://pamapam.cat/ca/avis-legal/" target="_blank">Condicions d’ús</a> i la <a href="https://pamapam.cat/ca/politica-de-privacitat/" target="_blank">Política de privacitat</a>, però no vull rebre notícies.
									  </span>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                        <br>
                                                                        <p>Recordeu que, com a iniciativa podeu modificar les vostres dades a l'<a href="https://pamapam.cat/backoffice/ui/login" target="_blank">àrea de gestió</a> del web. Si teniu qualsevol pregunta, no dubteu a escriure’ns.</p>
                                                                        <br>
                                                                        <p>Moltes gràcies per contribuir a fer possible Pam a Pam!</p>
                                                                        <br>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td height="10" colspan="3"></td></tr>
                                            <tr><td colspan="3"><hr style="height:1px;background:#dddddd;border:none"></td></tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>