<!-- =============== START FOOTER =============== -->
<div class='movableContent'>
	<table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
		<tr>
			<td height='10' colspan="3"></td>
		</tr>
		<tr>
			<td width='560'>
				<table width="560" cellpadding="0" cellspacing="0" align="center">
					<tr>
						<td width='40'>
							<div class='contentEditableContainer contentFacebookEditable'>
								<div class='contentEditable'
									style='text-align: center; color: #AAAAAA;'>
									<a target="_blank"
										href="https://fesc.xes.cat/"><img
										src="${templateInfo.imagesUrl}icon-fesc.png" alt="twitter" width='40' height='40'
										data-max-width="40" data-customIcon="true">
									</a>
								</div>
							</div>
						</td>
						
						<td width='10'></td>
						<td width='40'>
							<div class='contentEditableContainer contentImageEditable'>
								<div class='contentEditable'
									style='text-align: center; color: #AAAAAA;'>
<!-- 									<a href="mailto:bsxes.org"><img src="cid:red" alt="mail" -->
<!-- 										width='40' height='40' data-max-width="40"></a> -->
								</div>
							</div>
						</td>
						<td width='10'></td>
						<td width='10'></td>
						<td>
							<div class='contentEditableContainer contentTextEditable'>
								<div class='contentEditable' style='text-align: right;'>
									<p>${templateInfo.footer_fesc}</p>
									<br>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3"><hr
					style='height: 1px; background: #DDDDDD; border: none;'></td>
		</tr>
	</table>
</div>

<div class='movableContent'>
	<table width="580" border="0" cellspacing="0" cellpadding="0"
		align="center">
		<tr>
			<td width='540'>
				<table width="540" cellpadding="0" cellspacing="0" align="center">
					<tr>
						<td>
							<div class='contentEditableContainer contentTextEditable'>
								<div class='contentEditable' style='text-align: left;'>
									<h2 style='font-size: 12px;'>${templateInfo.confidentialityTitle}</h2>
									<hr style='height: 1px; background: #DDDDDD; border: none;'>
									<p style="font-size: 11px;">${templateInfo.confidentialityMessage}</p>
									<br> <br>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3">
			<hr style='height: 1px; background: #DDDDDD; border: none;'>
			</td>
		</tr>
	</table>
</div>

<!-- =============== END FOOTER =============== -->
